body {
    background-color: Gainsboro;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
}

h1 {
  font-family: sans-serif;
    color: black;
    text-align: center;
}

h2 {
  font-family: sans-serif;
    color: black;
    text-align: center;
  }

  h3 {
    font-family: sans-serif;
      color: black;
      text-align: center;
    }

    h4 {
      font-family: sans-serif;
        color: black;
      }

p {

    color: black;
    border: 1px solid #333;

}
